* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.LandingPage {}

;

.LandingImg {
    width: 100%;
    height: auto;
}

;

.LandingSection {
    width: 100%;
    height: 100%;
}

;

.LandingHeadline {}

;

.LandingText {}

;