@font-face {
  font-family: poppins_700;
  src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: poppins_600;
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: poppins_500;
  src: url(./assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: poppins_400;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}


/*======== App =======*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*======== HomePage =======*/

.ratingDiv {
  display: flex;
}

/*======== Navbar =======*/

.navBarBox {
  display: flex;
  justify-content: space-between;
  margin-left: 0%;
}

.navbarButton {
  background-color: #364FD4;
  padding: 1%;
  border: 1px solid transparent;
  border-radius: 12px;
  height: 50px;
  width: 50px;
  margin: 15px 0;
}

/*======== Searchbar =======*/

.searchInput {
  display: flex;
  margin: 15px 0;
}

.search input {
  font-size: 18px;
  background-color: #FFFFFF;
  border: 2px solid transparent;
  border-radius: 12px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 15px;
  height: 50px;
  width: 100%;
  background-color: #F0F3F8;
}

.searchIcon {
  font-size: 30px;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  border-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  display: grid;
  place-items: center;
  background-color: #F0F3F8;
}

input:focus {
  outline: none;
}


.searchResults {
  margin-top: 5px;
  color: transparent;
  background-color: #FFFFFF;
  border: 0;
  box-shadow: transparent 0px 5px 15px;
  padding: 15px;
  height: 200px;
  width: 300px;
  overflow: hidden;
  overflow-y: auto;
}


.searchResults .searchItems {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: transparent;
}

.searchItems p {
  margin-left: 10px;
}

.searchResults a {
  text-decoration: none;
}

.searchResults a:hover {
  background-color: #828B9A;
}

#clearButton {
  cursor: pointer;
  font-size: 30px;
}

/* ======== Other; needs sorting ======= */

.navbarButton {
  background-color: #364FD4;
  height: 50px;
  width: 50px;
}

.homeProductDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* =======Filter======= */
.filterNav {
  display: flex;
}

.filterButton {
  color: #FFFFFF;
  background-color: #364FD4;
  padding: 1%;
  border-radius: 10px;

}

.selected {
  border: 1px solid blue;
}

/* =======Homepage========== */



.homeProductDisplay {
  display: flex;
  justify-content: center;
  margin: 0 auto
}

.homeStyle {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.homeStyle h2 {
  font-family: poppins_700;
  font-size: 28px;
  letter-spacing: 1px;
}

.homeStyle h3 {
  font-size: 16px;
  font-family: poppins_600;
  letter-spacing: 0.1px;
}


/* ============ SingleProduct Card ============== */

.SProductDiv {
  width: 100%;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

#cardStyle {
  background-color: white;
  border-radius: 20px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  gap: 5px
}

#imgStyle {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  object-position: center;
  overflow: hidden;
  border-radius: 12px;
  background-color: rgb(238, 238, 238);
}

#starStyle {
  margin-right: 3px;
  height: 14px;
}

#ratingStyle {
  font-family: poppins_400;
  font-size: 10px;
  font-weight: 400;

}

#titleStyle {
  font-family: poppins_600;
  font-weight: 600;
  font-size: 14px;

}

#priceStyle {
  font-family: poppins_500;
  color: #364FD4;
  line-height: 25px;
  font-weight: 400;
  font-size: 12px;
}