/*======== App =======*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*======== HomePage =======*/

.ratingDiv {
  display: flex;
}

/*======== Navbar =======*/

.navBarBox {
  display: flex;
  margin-left: 5%;
}

.navbarButton {
  background-color: #364FD4;
  padding: 1%;
  margin-left: 5px;
  border-radius: 10px;
  height: 50px;
  width: 50px;
}

/*======== Searchbar =======*/

.searchInput {
  display: flex;
}

.search input {
  font-size: 18px;
  background-color: #FFFFFF;
  border-top: 2px solid #1E2126;
  border-bottom: 2px solid #1E2126;
  border-left: 2px solid #1E2126;
  border-right: 0px;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 15px;
  height: 50px;
  width: 300px;
}

.searchIcon {
  font-size: 30px;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border-top: 2px solid #1E2126;
  border-bottom: 2px solid #1E2126;
  border-right: 2px solid #1E2126;
  border-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #FFFFFF;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}


.searchResults {
  margin-top: 5px;
  color: #1E2126;
  background-color: #FFFFFF;
  border: 0;
  box-shadow: #1E2126 0px 5px 15px;
  padding: 15px;
  height: 200px;
  width: 300px;
  overflow: hidden;
  overflow-y: auto;
}


.searchResults .searchItems {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: #1E2126;
}

.searchItems p {
  margin-left: 10px;
}

.searchResults a {
  text-decoration: none;
}

.searchResults a:hover {
  background-color: #828B9A;
}

#clearButton {
  cursor: pointer;
  font-size: 30px;
}

/* ======== Other; needs sorting ======= */

.navbarButton {
  background-color: #364FD4;
  height: 34px;
  width: 50px;
}

.homeProductDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* =======Filter======= */
.filterNav {
  display: flex;
}

.filterButton {
  color: #FFFFFF;
  background-color: #364FD4;
  padding: 1%;
  border-radius: 10px;
}

.categoryLabel,
.priceLabel,
.brandLabel {
  display: inline-block;
  border: 2px solid #364FD4;
  width: 200px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.categoryCheckbox:checked+label,
.priceCheckbox:checked+label,
.brandCheckbox:checked+label {
  border: 1px solid #364FD4;
  color: #ffffff;
  background-color: #364FD4;
}

.categoryCheckbox,
.priceCheckbox,
.brandCheckbox {
  display: none;
}

/* =======Homepage========== */

.homeProductDisplay {
  display: flex;
  justify-content: center;
  margin: 0 auto
}