* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbarButton {
  background-color: #364FD4;
}

.homeProductDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ratingDiv {
  display: flex;
}